<%= javascript_include_tag "templates/artists" %>

<div class="artistIndex">	

	<%= render partial: "artist_list", locals: {artists: @artists} %>
    
	<div class="artistForm" style="display: none;" >

	    <h1>Create a new artist</h1>

		<%= render 'form' %>

		<br><br>

		<div class="actions"><a href="/artists">Cancel</a></div>
	  
	</div>

</div>

<br>
    
<div class="options">
    <%= link_to "Add Artist", new_artist_path, id: "addArtist" %>
</div>


<br></br>

<div class="links">
    <%= link_to "Back to User", user_path(current_user) %>
    <%= link_to("All Albums", albums_path) %>
    <%= link_to("All Users", users_path) %>
</div>

