<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
<% end %>

<%= render partial: "artist_data", locals: {artist: @artist} %>

<%= render partial: "album_list", locals: {artist: @artist} %>
    
<br></br>
    
    <% if user_artist?(@artist) %>
        <div class="options">
            <%= link_to "Add Album", new_artist_album_path(@artist) %>
            <%= link_to "Edit Artist", edit_artist_path(@artist) %>
            <%= link_to "Delete Artist", artist_path(@artist), method: :delete, data: { confirm: 'Are you certain you want to delete this?' }%>
        </div>
    <% end %>


<br></br>

<div class="links">
    <%= link_to "Back to User", user_path(current_user) %>
</div>