<div class="songData">
    <div class="albumCover">
        <img id="songAlbumCover" src="<%=song.album.album_cover.url(:icon)%>">
    </div>
    <h1 id="songTitle"><%= song.name %></h1>
    <label>Artist: </label>
    <p id="songArtist"><%= song.artist.name %></p>
    <label>Album: </label>
    <p id="songAlbum"><%= song.album.name %></p>
    <label>Genre: </label>
    <p id="songGenre"><%= song.genre.name %></p>
    
    <% if user_song?(song) %>
        <div class="options">

            <a href="#" class="js-next" data-id="<%=@song.id%>">Next Song</a>

            <%= link_to "Edit Song", edit_song_path(song) %>
            <%= link_to "Delete Song", song_path(song), method: :delete, data: { confirm: 'Are you certain you want to delete this?' }%>
        </div>
    <% end %>
</div>

<script type="text/javascript" charset="utf-8">
$(function () {
  $(".js-next").on("click", function(event) {
    //debugger;
    // On click, prevent default and pull in song id from form field
    event.preventDefault();
    let nextId = parseInt($(".js-next").attr("data-id")) + 1;
    //Obtain song data with jQuery call to JSON object, parsing response back into HTML fields
    $.get("/songs/" + nextId + ".json", function(data) {
      let song = data;
      $("#songTitle")[0].innerHTML = song["name"];
      $("#songArtist")[0].innerHTML = song["artist"]["name"];
      $("#songAlbum")[0].innerHTML = song["album"]["name"];
      //Saves url of album cover and converts it to 'icon'
      let image_url =  song["album"]["album_cover"];
      let icon_url = image_url.replace("original", "icon");
      $("#songAlbumCover").attr("src", icon_url);
      $("#songGenre")[0].innerHTML = song["genre"]["name"];
      $(".js-next").attr("data-id", song["id"]);
    });
  });
});
</script>