<div class="songData">
    <div class="albumCover">
        <img id="songAlbumCover" src="<%=song.album.album_cover.url(:icon)%>">
    </div>
    <h1 id="songTitle"><%= song.name %></h1>
    <label>Artist: </label>
    <p id="songArtist"><%= song.artist.name %></p>
    <label>Album: </label>
    <p id="songAlbum"><%= song.album.name %></p>
    <label>Genre: </label>
    <p id="songGenre"><%= song.genre.name %></p>
    
    <div class="options">

        <% if !Song.is_first?(song.id) %>

            <a href="#" class="js-last" album-id="<%=song.album.id%>" data-id="<%=song.id%>">Last Song</a>

        <%  end %>

        <% if !Song.is_last?(song.id) %>

            <a href="#" class="js-next" album-id="<%=song.album.id%>" data-id="<%=song.id%>">Next Song</a>

        <%  end %>

        <% if user_song?(song) %>

            <a id="editSong" href="/songs/24/edit">Edit Song</a>

            <a id="deleteSong" data-confirm="Are you certain you want to delete this?" rel="nofollow" data-method="delete" href="/songs/24">Delete Song</a>

        <% end %>
    </div>
</div>

