<div class="songData">
    <div class="albumCover">
        <img id="songAlbumCover" src="<%=song.album.album_cover.url(:icon)%>">
    </div>

    <h1 id="songTitle"><%= song.name %></h1>
    <label>Artist: </label>
    <p id="songArtist"><%= song.artist.name %></p>
    <label>Album: </label>
    <p id="songAlbum"><%= song.album.name %></p>
    <label>Genre: </label>
    <p id="songGenre"><%= song.genre.name %></p>
    
</div>

<div class="navigation">

    <a href="#" class="js-last" album-id="<%=song.album.id%>" data-id="<%=song.id%>">Last Song</a>

    <a href="#" class="js-next" album-id="<%=song.album.id%>" data-id="<%=song.id%>">Next Song</a>

</div>