<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
<% end %>

<p id="test"></p>

<%= render partial: "song_data", locals: {song: @song} %>

<br></br>
<div class="options">

    <% if current_user %>
        <% if @song.users.include?(current_user)%>
            <%= link_to "Unfavorite", favorite_song_path(@song, type: "unfavorite"), method: :put %>
        <% else %>
            <%= link_to "Favorite",   favorite_song_path(@song, type: "favorite"), method: :put %>
        <% end %>
    <% end %>
</div>

<br></br>

<div class="links">
    <%= link_to "Back to Artist", artist_path(@song.artist) %>
    <%= link_to "Back to Album", album_path(@song.album) %>
    <%= link_to "Back to User", user_path(current_user) %>
</div>

