<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
<% end %>

<%= render partial: "song_data", locals: {song: @song} %>

<br></br>
<div class="options">
    <a href="#" class="js-next" data-id="<%=@song.id%>">Next Song</a>

    <% if current_user %>
        <% if @song.users.include?(current_user)%>
            <%= link_to "Unfavorite", favorite_song_path(@song, type: "unfavorite"), method: :put %>
        <% else %>
            <%= link_to "Favorite",   favorite_song_path(@song, type: "favorite"), method: :put %>
        <% end %>
    <% end %>
</div>

<br></br>

<div class="links">
    <%= link_to "Back to Artist", artist_path(@song.artist) %>
    <%= link_to "Back to Album", album_path(@song.album) %>
    <%= link_to "Back to User", user_path(current_user) %>
</div>

<script type="text/javascript" charset="utf-8">
$(function () {
  $(".js-next").on("click", function() {
    var nextId = parseInt($(".js-next").attr("data-id")) + 1;
    $.get("/song/" + nextId + ".json", function(data) {
      var song = data;
      $(".productName").text(song["name"]);
      $(".songPrice").text(song["price"]);
      $(".songDescription").text(song["description"]);
      $(".songInventory").text(song["inventory"]);
      // re-set the id to current on the link
      $(".js-next").attr("data-id", song["id"]);
    });
  });
});
</script>