<%= javascript_include_tag "song" %>

<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
<% end %>

<p id="test"></p>

<%= render partial: "song_data", locals: {song: @song} %>

<br></br>
<div class="options">

    <% if current_user %>
            <%= link_to "Favorite", favorite_album_song_path(@song, type: "favorite"), method: :put, id: "favoriteSong" %>

            <%= link_to "Unfavorite",   favorite_album_song_path(@song, type: "unfavorite"), method: :put, id: "unfavoriteSong" %>
    <% end %>

    <% if user_song?(@song) %>

            <%= link_to "Edit Song", edit_album_song_path(@song.album, @song), id: "editSong"  %>

            <%= link_to "Delete Song", album_song_path(@song.album, @song), :method => :delete, :confirm => "Sure you want to delete this?", id: "deleteSong" %>

        <% end %>
</div>

<br></br>

<div class="links">
    <%= link_to "Back to Artist", artist_path(@song.artist) %>
    <%= link_to "Back to Album", album_path(@song.album) %>
    <%= link_to "Back to User", user_path(current_user) %>
</div>

