<%= form_for(@album) do |f| %>
    <% if @album.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@album.errors.count, "error") %> prohibited this album from being saved:</h2>
        
          <ul>
              <% @album.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
          </ul>
        </div>
    <% end %>
    
    
    <div class="field"> <%= f.label :name, "Name:" %><br>
    <%= f.text_field :name %></div><br>
    
    <div class="field"><%= f.label :release_date, "Released:" %><br>
    <%= f.text_field :release_date %></div><br>
    
    
    <div class="field"><%= f.label :artist_id, "Artist:" %><br>
    <%= f.collection_select(:artist_id, Artist.all, :id, :name, {:selected => params[:artist_id]}) %></div><br>

    <div class="feild" id="albumCoverUpload">
      <%= f.label :album_cover , "Album Cover:" %>
      <%= f.file_field :album_cover %>
    </div>
    
    <br></br>
    
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>


    <div class="actions"><%= f.submit 'Submit', :class => 'btn btn-primary', :id => "albumSubmit" %></div>

<% end %>