<%= javascript_include_tag "templates/albums" %>

<%= render partial: "album_list", locals: {albums: @albums} %>

    <br></br>
    
    <div class="options">
        <%= link_to "Add Album", new_album_path %>
    </div>


<br></br>

<div class="links">
    <%= link_to "Back to User", user_path(current_user) %>
    <%= link_to "All Artists", artists_path %>
</div>