<div class="albumData">
    <h1><%= @album.name %></h1>
    <p>Released: <%= @album.release_date %></p>
    <% if !@album.genres.empty? %>
        <p>Genres: 
            <ul>
                <% @album.genres.each do |genre| %>
                    <li><%= genre.name %></li>
                <% end %>
            </ul>
        </p>
    <% end %>
</div>

<div class="songList">
    <h2>Songs</h2>
    <% if @album.songs.empty? %>
        <p>Album is empty</p>
    <% else %>
        <ul>
            <% @album.songs.each do |song| %>
                <li><%= link_to ("#{song.name} [#{song.time}]"), album_song_path(@album, song) %></li>
            <% end %>
        </ul>
    <% end %>
    
     <br></br>
    
    <% if @album.user == current_user %>
        <%= link_to "Add Song", new_album_song_path(@album) %>
        <%= link_to "Edit Album", edit_album_path(@album) %>
        <%= link_to "Delete Album", album_path(@album), method: :delete, data: { confirm: 'Are you certain you want to delete this?' }%>
    <% end %>
    
</div>

<br></br>

<div class="links">
    <%= link_to "Back to Artist", artist_path(@album.artist) %>
    <%= link_to "Back to User", user_path(current_user) %>
</div>